.navbar {
  align-items: center;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 20% 45% 35%;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.navbar__logo {
  justify-self: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  order: 2;
}

.navbar__logo span {
  color: var(--clr-secondary-2);
}

.navbar__links {
  padding-top: 3em;
  transform: translateX(-100%);
  position: absolute;
  width: 100%;
  z-index: 99;
  background: var(--clr-primary-0);
  min-height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.close-icon {
  top: 1rem;
  width: 35px;
  right: 1rem;
  position: absolute;
}
.mobile-menu {
  transform: translateX(0);
}

.navbar__link.hide-user {
  display: none;
}
.navbar__link a {
  display: block;
  border-bottom: 1px solid var(--clr-text-2);
  padding: 1em 0;
}
.navbar__link a.active {
  color: var(--clr-secondary-2);
}

.navbar__icons {
  justify-self: flex-end;
  order: 3;
  display: flex;
  gap: 1rem;
}

.navbar__icon {
  position: relative;
}

.navbar__icon .navbar__icon-badge {
  background: var(--clr-secondary-2);
  border-radius: 100%;
  color: var(--clr-text-0);
  display: inline-flex;
  font-size: 12px;
  padding: 0 5px;
  position: absolute;
  right: -6px;
  top: -4px;
}

.navbar__icon button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__icon:hover svg {
  background-color: var(--clr-secondary-2);
  border-radius: 100%;
  stroke: var(--clr-primary-0);
}

.navbar__icon svg {
  width: 1.75rem;
  stroke: black;
}

.navbar__icon.user {
  position: relative;
}
/* Drop Down Menu */
.dropdown-menu {
  z-index: 999;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdown-menu ul li a {
  display: block;
  padding: 10px 0;
  width: 100%;
}
.dropdown-menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover svg {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  margin: 10px auto;
}

.dropdownItem a {
  transition: var(--speed);
}

@media (min-width: 992px) {
  .navbar {
    grid-template-columns: 25% 50% 25%;
  }
  .navbar__logo {
    order: 0;
    justify-self: flex-start;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__links {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    min-height: fit-content;
    padding-top: 0;
    position: static;
    transform: translateX(0);
  }
  .close-icon {
    display: none;
  }
  .navbar__link a {
    border: none;
    padding: 1rem 0.5rem;
  }
}
