.form-page {
  align-items: center;
  display: flex;
  margin-top: 3rem;
}

.contact-page {
  display: grid;
  grid-template-columns: 1fr;
}
.page-not-found {
  align-items: center;
  color: var(--clr-text-2);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  text-align: center;
}
.page-not-found_content {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  line-height: 40px;
  margin-bottom: 20px;
}
.page-not-found h1 {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3.3px;
  line-height: 55px;
}

/* Otp Verification page css */
.verify-card {
  margin: auto;
  padding: 1.25em 1.5em;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.verify-card h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}
.otp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-fields-otp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-fields-otp input {
  margin: auto;
  width: 120px;
  padding: 0 0.75em;
  height: 50px;
  font-size: 1.25rem;
  letter-spacing: 3px;
  border: 1px solid var(--clr-text-2);
  border-radius: 7px;
}

.otp-error input {
  border: 1px solid red;
}

.otp-error p {
  color: #f20c0c;
}

.resend-button {
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  width: fit-content;
  text-align: center;
}

/* pagination css  */
/* Add this CSS to your stylesheet */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page {
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for nextLabel */
.next {
  width: 20px;
  font-size: 16px;
  color: #333;
}

/* Style for previousLabel */
.previous {
  width: 20px;
  font-size: 16px;
  color: #333;
}

/* Style for breakLabel */
.break {
  font-size: 16px;
  color: #333;
}

/* Style for nextLabel, previousLabel, and breakLabel on hover */
.next:hover,
.previous:hover,
.break:hover {
  cursor: pointer;
}

.page.active,
.page:hover {
  background-color: var(--clr-secondary-2);
  color: #fff;
  border: 1px solid var(--clr-secondary-2);
}

.page-link {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-link a {
  display: block;
  width: 100%;
}

@media (min-width: 992px) {
  .contact-page {
    grid-template-columns: 35% 62%;
    gap: 3%;
  }

  .page-not-found h1 {
    font-size: 110px;
    line-height: 115px;
  }
}
