/* Provide sufficient contrast against white background */
/* CSS IMports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

:root {
  /* primary Color variable for background */
  --clr-primary-0: #fff;
  --clr-primary-1: #000;
  /* Color variable for Text */
  --clr-btn-card: #7d8184;
  --clr-text-0: #fafafa;
  --clr-text-1: #7d8184;
  --clr-text-2: #000000;

  /* Secondary COlor variable */
  --clr-secondary-0: #f5f5f5;
  --clr-secondary-1: #fefaf1;
  --clr-secondary-2: #db4444;

  /* Color Variable for button background */
  --clr-btn-1: #00ff66;
  --clr-btn-hover-1: #a0bce0;
  --clr-btn-2: #db4444;
  --clr-btn-hover-2: #e07575;

  /* Color for success */
  --clr-success-500: #10b981;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: var(--clr-primary-black);
  text-decoration: none;
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

input,
input:focus,
textarea,
textarea:focus {
  border: none;
  outline: none;
}
